<ul class="flex gap-4">
	<li>
		<a class="flex items-center justify-center w-[37px] h-[37px] rounded-lg bg-blue-05" href="mailto:?subject=Check%20out%20this%20article&body=Hey,%20I%20found%20this%20article%20interesting:%20{{article_url}}" target="_blank" title="Share via Email">
			<svg width="25" height="17" viewbox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0.6875 1C0.6875 0.68934 0.93934 0.4375 1.25 0.4375H23.75C24.0607 0.4375 24.3125 0.68934 24.3125 1V15.625C24.3125 16.1428 23.8928 16.5625 23.375 16.5625H1.625C1.10723 16.5625 0.6875 16.1428 0.6875 15.625V1ZM2.58113 1.5625L12.1073 11.3636L22.3487 1.5625H2.58113ZM23.1875 2.3169L12.7507 12.3051C12.3787 12.6611 11.7891 12.6504 11.4302 12.2812L1.8125 2.3858V15.4375H23.1875V2.3169Z" fill="#001E41"/>
			</svg>
		</a>
	</li>
	<li>
		<a class="flex items-center justify-center w-[37px] h-[37px] rounded-lg bg-blue-05" href="#" onclick="navigator.clipboard.writeText(window.location.href); alert('URL copied to clipboard!'); return false;" title="Copy URL">
			<svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.0441 10.9564C13.225 10.1377 12.1143 9.67773 10.9562 9.67773C9.79802 9.67773 8.6873 10.1377 7.86821 10.9564L4.77927 14.0444C3.96017 14.8635 3.5 15.9744 3.5 17.1328C3.5 18.2912 3.96017 19.4021 4.77927 20.2212C5.59838 21.0403 6.70932 21.5005 7.86771 21.5005C9.0261 21.5005 10.137 21.0403 10.9562 20.2212L12.5001 18.6773" stroke="#001E41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M10.9561 14.0441C11.7751 14.8628 12.8859 15.3228 14.044 15.3228C15.2021 15.3228 16.3128 14.8628 17.1319 14.0441L20.2209 10.9562C21.04 10.137 21.5001 9.0261 21.5001 7.86771C21.5001 6.70932 21.04 5.59838 20.2209 4.77927C19.4018 3.96017 18.2908 3.5 17.1324 3.5C15.974 3.5 14.8631 3.96017 14.044 4.77927L12.5 6.32324" stroke="#001E41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</a>
	</li>
	<li>
		<a class="flex items-center justify-center w-[37px] h-[37px] rounded-lg bg-blue-05" href="https://www.linkedin.com/sharing/share-offsite/?url={{article_url}}" target="_blank" title="Share on LinkedIn">
			<svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20.5797 20.4993H16.3568V20.1713C16.3568 17.8666 16.3588 15.5611 16.3554 13.2564C16.354 12.1848 15.7823 11.3946 14.8025 11.0899C13.6315 10.7263 12.2699 11.6213 12.1518 12.8359C12.1346 13.0167 12.129 13.1995 12.129 13.3817C12.1277 15.6412 12.1283 17.9008 12.1283 20.1597V20.4945H7.91856V7.94636H12.1332V9.46644C12.5274 9.11723 12.8837 8.73379 13.3035 8.44142C15.183 7.13292 17.3089 7.54991 18.8197 8.81801C19.9741 9.78689 20.5824 11.0392 20.588 12.5497C20.5969 15.1373 20.5907 17.7248 20.59 20.3117C20.59 20.3651 20.5845 20.4185 20.5797 20.5V20.4993Z" fill="#001E41"/>
				<path d="M0.855077 7.93267H5.04898V20.4897H0.855077V7.93267Z" fill="#001E41"/>
				<path d="M5.4819 3.01981C5.4819 4.41458 4.34539 5.53752 2.94028 5.53067C1.54554 5.52383 0.424909 4.41732 0.407647 3.03145C0.391076 1.66064 1.54485 0.508261 2.94305 0.500044C4.33572 0.491828 5.48259 1.62983 5.4819 3.01981Z" fill="#001E41"/>
			</svg>
		</a>
	</li>
	<li>
		<a class="flex items-center justify-center w-[37px] h-[37px] rounded-lg bg-blue-05" href="https://twitter.com/intent/tweet?url={{article_url}}" target="_blank" title="Share on X (Twitter)">
			<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.73508 6.35148L14.1991 0H12.9043L8.1599 5.5149L4.37056 0H0L5.73023 8.3395L0 15H1.29487L6.30508 9.17608L10.3069 15H14.6775L8.73477 6.35148H8.73508ZM6.96158 8.41297L6.38099 7.58255L1.76143 0.97476H3.75028L7.47831 6.30746L8.05891 7.13788L12.9049 14.0696H10.9161L6.96158 8.41329V8.41297Z" fill="#001E41"/>
			</svg>
		</a>
	</li>
</ul>
