*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

#project custom ignores
#exclude all
/*

#include folders
!/helm-chart
!/infrastructure_code
!/wp-content
/wp-content/*
!/wp-content/languages
/wp-content/languages/*
!/wp-content/plugins
!/wp-content/mu-plugins
!/wp-content/themes
!/config
!/build/docker
!/_dumps
!/.github
!/.gitlab
!/.gitlab-ci.yml
!/.htaccess

#include files
!/composer.json
!/Dockerfile
!/docker-compose.yml
!/docker-compose-cleanup.yml
!/.gitignore
!/README.md
!/CHANGELOG.md
!/.env.*
!.editorconfig
!.nvmrc
!Makefile
!auth.json.sample

#include plugins
/wp-content/plugins/*

#include mu-plugins
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/autoload.php

#include theme
/wp-content/themes/*
!/wp-content/themes/wp-starter
!/wp-content/themes/wp-starter/*



#ci
!_ci
!build
!seed
