{
  "http-basic": {
    "connect.advancedcustomfields.com": {
      "username": "b3JkZXJfaWQ9NTUwMzh8dHlwZT1wZXJzb25hbHxkYXRlPTIwMTUtMDQtMjggMTE6NTc6NTU=",
      "password": "http://localhost"
    }
  }
}
