/* MAIN NAVIGATION HEADER */

.main-header::before {
  @apply content-[''] block absolute -z-10 w-full h-full top-0 backdrop-blur-lg;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 00%, rgba(252,70,107,0) 100%);
}

.menu-main-navigation-container {
  @apply grow;
}

@media (min-width: 1024px) {
  .menu-main-navigation-container {
    @apply pl-10 flex justify-between items-center;
  }
}

.main-menu {
  @apply relative;
}

@media (min-width: 1024px) {
  .main-menu {
    @apply flex gap-x-6 px-6 py-3 rounded-xl space-y-0 items-center;
  }
  /* .main-menu::before {
    @apply content-[''] block absolute -z-10 left-0 right-0 bottom-0 top-0 backdrop-blur-md rounded-xl;
  } */
}

.menu-item {
  @apply relative border-b border-nav-border pb-8;
}
@media (min-width: 1024px) {
  .menu-item {
    @apply border-0 pb-0;
  }
}
.menu-item a {
  @apply transition-all text-xl font-bold leading-none text-white pb-0;
}

.menu-item:last-child {
  @apply border-0
}

@media (min-width: 1024px) {
  .menu-item a {
    @apply text-base p-0 text-[14px];
  }
}

.menu-item.current-menu-item > div > a,
.sub-menu .menu-item.current-menu-item  > a {
  @apply opacity-50 ;
}

@media (min-width: 1024px) {
  .menu-item a:hover {
    @apply opacity-50;
  }
}

.sub-menu {
  @apply max-h-0 overflow-hidden	transition-all duration-300 relative;
}

@media (min-width: 1024px) {
  .sub-menu {
    @apply overflow-hidden max-h-0 absolute left-0 top-[130%]  transition-all duration-300  whitespace-nowrap ;
  }
  .sub-menu::before {
    @apply content-[''] block absolute -z-10 left-0 right-0 bottom-0 top-0 rounded-xl backdrop-blur-lg;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 00%, rgba(252,70,107,0) 100%);
  }
}

@supports (-webkit-backdrop-filter: blur(10px)) {
  .sub-menu::before {
    @apply bg-white/80;
  }
}

.sub-menu-open {
  @apply max-h-[500px];
}
.sub-menu .menu-item  {
  @apply border-0 pt-4 pb-0 pl-8;
}

@media (min-width: 1024px) {
  .sub-menu .menu-item  {
    @apply px-6 pt-4;
  }
  .sub-menu .menu-item:last-child  {
    @apply pb-4;
  }
}


.js-subnav-trigger:hover {
  @apply opacity-80 
}

.sub-menu .menu-item a {
  @apply text-xl pb-0 inline-block;
}

@media (min-width: 1024px) {
  .sub-menu .menu-item a {
    @apply text-base text-[14px];
  }
}

@media (min-width: 1024px) {
  .sub-menu .menu-item:last-child a {
    @apply mb-1.5;
  }
}

.menu-item-has-children a {
  @apply relative;
}

.menu-item-has-children .is-active.js-subnav-trigger svg {
  @apply rotate-90;
}

/* LANG SWITCHER */
.nav-open {
  @apply pointer-events-auto opacity-100;
}

.lang-toggle-active svg {
  @apply rotate-180;
}

.menu-btn-gray,
.menu-btn-black {
  @apply border-0 pb-0
}

.menu-btn-gray  a {
  @apply rounded-full inline-block bg-[#1B1A1F] border border-[#999999]  py-4 px-7 whitespace-nowrap
}

.menu-btn-black a {
  @apply rounded-full inline-block bg-black border py-4 px-7 border-white whitespace-nowrap
}
@media (min-width: 1024px) {
  .menu-btn-gray a,
  .menu-btn-black a {
    @apply text-[15px]
  }
}