{% extends 'template-parts/base.twig' %}

{% block content %}
	<div class="container px-4">
		<div class="relative flex flex-col p-10 pb-8 xl:py-20 xl:px-28 xl:flex-row xl:min-h-[750px] xl:flex-wrap">

			<div class="font-thin font-sans mb-6 text-[120px] leading-none xl:text-[250px] relative z-20 xl:w-1/2 xl:pr-24">404</div>
			<div class="relative z-20 xl:w-1/2 xl:pt-10">
				<p class="pb-8 body-3">{{ __('The page you are looking for may have been removed, or you entered the wrong address', '404-text') }}.</p>
				<a href="/" class="btn-primary">{{ __('Back to home', 'back-to-home') }}</a>
			</div>
			<div class="absolute inset-0 z-10 max-w-full overflow-hidden rounded-3xl">
				<svg preserveaspectratio="xMidYMid slice" class="absolute inset-0 object-cover object-center w-full h-full" width="1360" height="752" viewbox="0 0 1360 752" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="1360" height="750" rx="20" fill="#F0F0F0"/>
					<path d="M714.707 412.466C765.3 463.544 750.333 528.29 737.143 585.407C724.664 639.397 713.893 686.012 749.071 721.528L721.072 749.26C685.894 713.745 639.178 724.071 585.086 736.021C527.832 748.679 462.945 763.027 412.353 711.949L440.311 684.256C475.543 719.826 522.299 709.488 576.432 697.524C608.909 690.343 643.872 682.612 677.249 686.63C682.81 687.289 687.467 682.675 686.848 677.122C683.163 643.695 691.227 608.808 698.717 576.4C711.197 522.384 721.967 475.742 686.736 440.172L714.694 412.479L714.707 412.466Z" fill="#53A57B"/>
					<path d="M1207.28 268C1115.49 268 1054 326.499 1054 413.226V429.898C1054 465.593 1064.19 496.448 1082.51 520.49C1086.66 525.955 1091.24 531.072 1096.22 535.8C1123.07 561.372 1161.39 576 1207.28 576C1253.17 576 1291.23 561.372 1317.95 535.8C1322.84 531.114 1327.36 526.066 1331.45 520.671C1349.78 496.601 1360 465.676 1360 429.898V413.226C1360 326.499 1298.79 268 1207.28 268Z" fill="#D2E1F5"/>
					<path d="M833.02 751.762L1211 751.762L1211 746.766C1210.19 679.044 1193.19 632.563 1170.21 600.65C1157.81 583.465 1143.68 570.496 1129.41 560.724C1101.7 541.72 1072.31 533.527 1040.69 530.41C1027.48 529.111 1013.87 528.691 999.834 528.771C999.834 529.451 999.834 530.15 999.834 530.849C999.834 544.518 998.826 557.627 996.83 570.116C990.92 607.125 976.393 638.618 953.92 662.517C925.36 692.912 885.238 709.438 837.625 710.457C836.083 710.477 834.542 710.497 833 710.497L833 751.762L833.02 751.762Z" fill="#CDE6DC"/>
					<path d="M351 718.044V750.762H175.825C70.5296 750.762 0 684.106 0 584.289V447.762H32.7215C32.7215 487.514 45.9369 521.008 70.9257 544.663C96.0729 568.445 131.932 581.168 174.177 581.485C174.716 581.485 175.27 581.485 175.825 581.485C186.663 581.485 197.058 580.677 206.962 579.076C206.978 591.53 207.263 602.304 208.15 612C210.099 633.611 214.996 649.836 226.611 666.979C245.087 694.262 275.843 710.708 318.247 716.079C328.483 717.378 339.401 718.028 351 718.028V718.044Z" fill="#84AFF5"/>
					<path d="M790.037 665.762C813.334 665.762 833 684.448 833 707.895C833 731.341 813.385 750.762 790.037 750.762C766.689 750.762 746 732.075 746 707.895C746 683.714 765.998 665.762 790.037 665.762Z" fill="#84AFF5"/>
					<path d="M865.037 622.762C888.334 622.762 908 641.448 908 664.895C908 688.341 888.385 707.762 865.037 707.762C841.689 707.762 821 689.075 821 664.895C821 640.714 840.998 622.762 865.037 622.762Z" fill="#84AFF5"/>
					<path d="M337.241 469.762C259.244 469.762 207 519.144 207 592.355V606.429C207 636.561 215.662 662.608 231.226 682.903C234.748 687.516 238.645 691.836 242.87 695.827C265.688 717.413 298.248 729.762 337.241 729.762C376.233 729.762 408.57 717.413 431.271 695.827C435.426 691.871 439.264 687.61 442.738 683.056C458.314 662.737 467 636.631 467 606.429V592.355C467 519.144 414.991 469.762 337.241 469.762ZM414.58 678.243C395.8 696.085 369.061 705.511 337.241 705.511C305.42 705.511 278.412 696.073 259.538 678.219C241.027 660.694 231.226 635.88 231.226 606.429V592.39C231.226 532.631 272.836 494.024 337.229 494.024V494.001C369.061 494.001 395.8 503.403 414.603 521.21C433.008 538.629 442.738 563.244 442.738 592.378V609.176C442.14 637.453 432.433 661.281 414.58 678.243Z" fill="#FAA59B"/>
				</svg>
			</div>
		</div>
	</div>

{% endblock %}
