<!DOCTYPE html>
<html {{ function('language_attributes') }} class="overflow-x-hidden">
	{# Head #}
	{% include 'head.twig' %}
	<body {{ function('body_class', 'bg-main-bg font-sans') }} id="body">
		{{ function('wp_body_open') }}
		{# header #}
		<div class="flex flex-col min-h-screen text-white page-wrapper">
			{% include 'partials/header.twig' %}

			<main id="main" class="overflow-x-hidden main-content grow">
				<div id="page-content">
					{% block content %}
					{% endblock %}
				</div>
			</main>

			{% include 'partials/footer.twig' %}
		</div>

	</body>
</html>
