{% extends 'base.twig' %}

{% block content %}
    <div class="container px-6 category-archive md:px-12">
        <h2 class="h1">{{ title }}</h2>
        {% if posts %}
            <div class="md:grid md:grid-cols-2 md: lg:grid-cols-3 lg:gap-10">
                {% for post in posts %}
                    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                {% endfor %}
            </div>
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>
{% endblock %}

