{% set title = fields.title ?? 'Contact Form' %}
{% set text = fields.text ?? '' %}

<section class="relative py-10 -mb-10 bg-contact lg:-mb-20 lg:pt-10 lg:pb-20 overflow-hidden">
	<svg class="absolute top-0 left-0 right-0 w-full lg:-mt-[134px] min-h-full lg:min-h-[calc(100%+134px)]" preserveaspectratio="xMidYMid slice" width="1440" height="810" viewbox="0 0 1440 810" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_1594_5252)">
			<rect width="1440" height="810" fill="white"/>
			<path d="M993.459 810L2321 810L2321 405.75C2321 162.761 2167.75 6.79601e-05 1938.25 5.79283e-05L993.459 0.000560848C766.255 0.000550916 613 162.761 613 405.75C613 648.739 766.255 810 993.459 810Z" fill="#F0F0F0"/>
			<path d="M1470 881.5C1422.22 881.5 1398.65 844.129 1377.85 811.168C1358.19 780.007 1341.22 753.103 1308 753.103L1308 726.897C1341.22 726.897 1358.19 699.993 1377.85 668.844C1398.65 635.871 1422.22 598.5 1470 598.5L1470 624.669C1436.73 624.669 1419.74 651.597 1400.07 682.771C1388.28 701.476 1375.57 721.612 1358.07 735.501C1355.16 737.82 1355.16 742.18 1358.07 744.486C1375.57 758.388 1388.28 778.524 1400.07 797.229C1419.74 828.403 1436.73 855.319 1470 855.319L1470 881.487L1470 881.5Z" fill="#8CC8AF"/>
			<path d="M541 739.309C541 731.007 547.595 724 555.87 724C564.146 724 571 730.989 571 739.309C571 747.628 564.405 755 555.87 755C547.336 755 541 747.874 541 739.309Z" fill="#4175E1"/>
			<path d="M609 739.309C609 731.007 615.595 724 623.87 724C632.146 724 639 730.989 639 739.309C639 747.628 632.405 755 623.87 755C615.336 755 609 747.874 609 739.309Z" fill="#4175E1"/>
			<path d="M-35.1689 310L-51.9494 310C-87.9598 310 -119.086 299.644 -143.312 281.073C-148.742 276.93 -153.823 272.354 -158.539 267.4C-184.277 240.334 -199 201.778 -199 155.287C-199 108.796 -184.277 69.9743 -158.539 42.7683C-153.781 37.7301 -148.63 33.0838 -143.13 28.8854C-118.932 10.3282 -87.8758 -8.69314e-06 -51.9494 -7.12275e-06L-35.1689 -6.38924e-06C52.121 -2.57368e-06 111 62.2911 111 155.287C111 248.283 52.121 310 -35.1689 310Z" fill="#84AFF5"/>
			<path d="M111 455.965V740H-43.7131C-136.709 740 -199 681.203 -199 593.154V455.965C-199 368.797 -136.709 310 -43.7131 310C49.2827 310 111 368.797 111 455.965Z" fill="#FFE6E1"/>
			<path d="M762 205.416V216.026C762 238.794 755.452 258.474 743.71 273.791C741.091 277.224 738.198 280.436 735.066 283.418C717.953 299.691 693.576 309 664.181 309C634.787 309 610.242 299.691 593.041 283.418C589.855 280.41 586.918 277.153 584.263 273.676C572.53 258.376 566 238.741 566 216.026V205.416C566 150.227 605.384 113 664.181 113C722.979 113 762 150.227 762 205.416Z" fill="#CDE6DC"/>
		</g>
		<defs>
			<clipPath id="clip0_1594_5252">
				<rect width="1440" height="810" fill="white"/>
			</clipPath>
		</defs>
	</svg>
	<div class="container px-4 md:px-8">
		<div class="relative z-20 px-4 lg:flex lg:flex-row lg:justify-between">
			<div class="space-y-5 lg:px-3 lg:w-4/12 xl:w-3/12 xl:ml-20">
				<h2 class="text-[50px] lg:text-[100px] leading-none font-light">{{ title }}</h2>
				<div class="pb-12 wysiwyg body-2 md:w-3/4 lg:pb-0 lg:pt-12">
					{{ text | raw }}
				</div>
			</div>
			<div class="w-full lg:px-3 lg:w-1/2">
				<script charset="utf-8" type="text/javascript" src="https://js-eu1.hsforms.net/forms/embed/v2.js"></script>
				<script>
					hbspt.forms.create({portalId: "144113445", formId: "2364816c-e9d5-4449-9189-02e32360fd87"});
				</script>
			</div>
		</div>
	</div>
</section>
