{% set bg_color_class = 'bg-gray-03' %}

{% if fields.bg_color == 'red' %}
	{% set bg_color_class = 'bg-coral-03' %}
{% elseif fields.bg_color == 'blue' %}
	{% set bg_color_class = 'bg-blue-05' %}
{% elseif fields.bg_color == 'gray' %}
	{% set bg_color_class = 'bg-gray-03' %}
{% endif %}


<section class="relative flex flex-col {{ bg_color_class }} pt-[120px] -mt-[120px] lg:pt-[134px] lg:-mt-[134px]">
	<div class="container px-4 md:px-12">
		<div class="relative z-20 flex flex-col w-full pt-4 pb-24 gap-y-6 lg:justify-between">
			{% set title = fields.title ?? 'Hero Secondary' %}
			{% set text = fields.text ?? '' %}
			{% set bg_anim = fields.bg_anim ?? '' %}

			<h2 class="{% if text %}lg:w-7/12 {% else %} lg:w-10/12 {% endif %} h1 lg:self-start">{{ title }}</h2>

			<div class="font-normal lg:w-4/12 body-1 lg:mr-0 lg:ml-auto">
				{{ text | raw }}
			</div>
		</div>
		<div class="absolute inset-0 z-10 overflow-hidden">
			{% if fields.bg_color == 'red' %}
				<svg class="absolute w-full h-full" width="1440" height="500" viewbox="0 0 1440 500" preserveaspectratio="xMidYMid slice" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1841_6686)">
						<rect width="1440" height="500" fill="#FFE6E1"/>
						<path d="M1151.3 -98C1052.91 -98 987 -35.7022 987 56.6561V74.411C987 112.423 997.928 145.283 1017.56 170.886C1022 176.706 1026.92 182.155 1032.25 187.19C1061.04 214.422 1102.11 230 1151.3 230C1200.49 230 1241.29 214.422 1269.93 187.19C1275.17 182.199 1280.01 176.824 1284.39 171.078C1304.04 145.446 1315 112.512 1315 74.411V56.6561C1315 -35.7022 1249.39 -98 1151.3 -98ZM1248.87 165.007C1225.18 187.516 1191.45 199.406 1151.3 199.406C1111.16 199.406 1077.09 187.501 1053.28 164.978C1029.93 142.869 1017.56 111.565 1017.56 74.411V56.7005C1017.56 -18.6877 1070.06 -67.3916 1151.29 -67.3916V-67.4212C1191.45 -67.4212 1225.18 -55.5599 1248.9 -33.096C1272.12 -11.1207 1284.39 19.9319 1284.39 56.6857V77.8761C1283.64 113.549 1271.39 143.609 1248.87 165.007Z" fill="#FAA59B"/>
						<path d="M267.644 444L481 444L481 560.783C481 630.98 436.834 678 370.695 678L267.644 678C202.166 678 158 630.98 158 560.783C158 490.587 202.166 444 267.644 444Z" fill="#FAA59B"/>
						<path d="M715 554.334V567.001C715 594.183 707.183 617.678 693.165 635.965C690.038 640.063 686.583 643.898 682.844 647.459C662.413 666.886 633.31 678 598.217 678C563.123 678 533.819 666.886 513.283 647.459C509.48 643.867 505.973 639.979 502.804 635.827C488.796 617.561 481 594.119 481 567.001V554.334C481 488.444 528.02 444 598.217 444C668.413 444 715 488.444 715 554.334Z" fill="#FAA59B"/>
					</g>
					<defs>
						<clipPath id="clip0_1841_6686">
							<rect width="1440" height="500" fill="white"/>
						</clipPath>
					</defs>
				</svg>

			{% elseif fields.bg_color == 'blue' %}
				<svg class="absolute w-full h-full" width="1440" height="500" preserveaspectratio="xMidYMid slice" viewbox="0 0 1440 500" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1841_6681)">
						<rect width="1440" height="500" fill="#D2E1F5"/>
						<path d="M620 587.542V605.514C620 644.08 608.909 677.414 589.02 703.36C584.583 709.176 579.682 714.616 574.376 719.668C545.39 747.232 504.098 763 454.307 763C404.517 763 362.94 747.232 333.803 719.668C328.408 714.571 323.432 709.056 318.935 703.165C299.061 677.25 288 643.99 288 605.514V587.542C288 494.058 354.712 431 454.307 431C553.903 431 620 494.058 620 587.542Z" fill="#84AFF5"/>
						<path d="M1311 -65C1370.58 -65 1399.97 -18.5175 1425.9 22.4798C1450.41 61.2389 1471.58 94.7019 1513 94.7019L1513 127.298C1471.58 127.298 1450.41 160.761 1425.9 199.504C1399.97 240.517 1370.58 287 1311 287L1311 254.451C1352.49 254.451 1373.67 220.957 1398.19 182.182C1412.9 158.917 1428.74 133.871 1450.57 116.596C1454.2 113.711 1454.2 108.289 1450.57 105.42C1428.74 88.1291 1412.9 63.0831 1398.19 39.8182C1373.67 1.04333 1352.49 -32.4354 1311 -32.4354L1311 -64.9842L1311 -65Z" fill="#84AFF5"/>
						<path d="M992 107.22C992 116.33 984.62 124.02 975.36 124.02C966.1 124.02 958.43 116.35 958.43 107.22C958.43 98.09 965.81 90 975.36 90C984.91 90 992 97.82 992 107.22Z" fill="#84AFF5"/>
						<path d="M992 207.019C992 216.129 984.62 223.819 975.36 223.819C966.1 223.819 958.43 216.149 958.43 207.019C958.43 197.889 965.81 189.799 975.36 189.799C984.91 189.799 992 197.619 992 207.019Z" fill="#84AFF5"/>
					</g>
					<defs>
						<clipPath id="clip0_1841_6681">
							<rect width="1440" height="500" fill="white"/>
						</clipPath>
					</defs>
				</svg>

			{% elseif fields.bg_color == 'gray' %}
				<svg class="absolute w-full h-full" width="1440" height="500" preserveaspectratio="xMidYMid slice" viewbox="0 0 1440 500" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1841_6691)">
						<rect width="1440" height="500" fill="#F0F0F0"/>
						<path d="M1074.61 260L1500 260L1500 28.4294C1500 -110.764 1411.94 -204 1280.07 -204L1074.61 -204C944.059 -204 856 -110.764 856 28.4294C856 167.623 944.059 260 1074.61 260Z" fill="#84AFF5"/>
						<path d="M276.96 389C210.51 389 166 431.07 166 493.44V505.43C166 531.1 173.38 553.29 186.64 570.58C189.64 574.51 192.96 578.19 196.56 581.59C216 599.98 243.74 610.5 276.96 610.5C310.18 610.5 337.73 599.98 357.07 581.59C360.61 578.22 363.88 574.59 366.84 570.71C380.11 553.4 387.51 531.16 387.51 505.43V493.44C387.51 431.07 343.2 389 276.96 389ZM342.85 566.61C326.85 581.81 304.07 589.84 276.96 589.84C249.85 589.84 226.84 581.8 210.76 566.59C194.99 551.66 186.64 530.52 186.64 505.43V493.47C186.64 442.56 222.09 409.67 276.95 409.67V409.65C304.07 409.65 326.85 417.66 342.87 432.83C358.55 447.67 366.84 468.64 366.84 493.46V507.77C366.33 531.86 358.06 552.16 342.85 566.61Z" fill="#FAA59B"/>
						<path d="M670.22 372C679.33 372 687.02 379.38 687.02 388.64C687.02 397.9 679.35 405.57 670.22 405.57C661.09 405.57 653 398.19 653 388.64C653 379.09 660.82 372 670.22 372Z" fill="#8CC8AF"/>
						<path d="M770.019 372C779.129 372 786.819 379.38 786.819 388.64C786.819 397.9 779.149 405.57 770.019 405.57C760.889 405.57 752.799 398.19 752.799 388.64C752.799 379.09 760.619 372 770.019 372Z" fill="#8CC8AF"/>
					</g>
					<defs>
						<clipPath id="clip0_1841_6691">
							<rect width="1440" height="500" fill="white"/>
						</clipPath>
					</defs>
				</svg>

			{% endif %}
		</div>
	</div>
</section>
