{% set title = fields.title ?? 'Text and Graphics' %}
{% set text = fields.text ?? '' %}
{% set iframe = fields.map_position ?? '' %}
<section class="container px-4 overflow-hidden md:px-12">
	<div class="relative overflow-hidden bg-blue-05 rounded-xl">
		<div class="lg:flex lf:flex-wrap">
            <div class="overflow-hidden aspect-w-10 aspect-h-10 md:aspect-w-16 md:aspect-h-9 rounded-xl lg:w-7/12 lg:aspect-w-16 lg:aspect-h-6">
                {{ iframe | raw}}
            </div>
            <div class="p-4 lg:w-5/12 lg:p-9 lg:flex lg:flex-col lg:justify-between">
                <h2 class="pt-4 pb-2 lg:pt-0 h2">{{ title }}</h2>
                <div class="body-2 wysiwyg">
                    {{ text | raw }}
                </div>
            </div>
		</div>
	</div>
</section>