{% set title = fields.title ?? 'Quote component' %}
{% set items = fields.items %}

<div>
    <div class="container px-6 md:px-12">
        {% if items %}
			<div class="mt-8 lg:mt-16">
				<div class="swiper js-quotes-carousel">
					<div class="swiper-wrapper ">
						{% for item in items %}
							<div class="swiper-slide">
								<div class="mx-auto text-center lg:w-8/12">
									<h4 class="h4">{{item.quote}}</h4>
									<div class="body-1 pt-9">{{item.name}}</div>
                                    <div class="body-1">{{item.position}}</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="js-quotes-carousel-pagination hs-pagination"></div>
				</div>
			</div>
		{% endif %}
    </div>
</div>