{% set title = fields.title ?? 'Text and Graphics' %}
{% set text = fields.text ?? '' %}
<section class="container px-6 overflow-hidden md:px-12">
	<div class="relative p-4 overflow-hidden lg:pl-10 lg:pr-0 lg:py-12 bg-blue-05 rounded-xl">
		<div class="lg:flex lf:flex-wrap">
            <div class="md:w-4/5 lg:w-1/2 lg:space-y-16">
                <h2 class="pb-4 h2">{{ title }}</h2>
                <div class="pb-8 body-2">
                    {{ text | raw }}
                </div>
            </div>
            <div class="-mx-4 -mb-4 lg:w-1/2 lg:-my-12 lg:mx-0">
                <div class=" lg:h-full">
                    <svg class="w-full h-full" width="787" height="500" viewbox="0 0 787 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1245.73 508.29L1245.73 506.917C1245.73 428.631 1224.95 359.885 1187.33 304.457C1222.58 266.56 1247 219.902 1247 157.574L1181.16 157.574C1181.16 196.739 1167.22 227.395 1144.54 253.916C1079.45 191.746 986.205 156 874.287 156C762.369 156 668.135 191.868 602.77 254.213C579.9 227.614 565.828 196.861 565.828 157.53L500 157.53C500 220.007 524.549 266.744 559.951 304.693C522.284 360.087 501.461 428.745 501.461 506.917L501.461 838.046C501.461 1049.68 651.002 1191 874.296 1191L1245.73 1191L1245.73 547.297C1245.73 547.297 1245.73 547.227 1245.73 547.192L1245.73 508.281L1245.73 508.29ZM874.296 223.207C965.836 223.207 1041.35 250.453 1094.44 298.799C1073.67 314.049 1050.47 328.652 1026.29 343.858C976.392 375.231 922.712 409.018 885.98 455.747C879.648 463.8 867.527 463.8 861.195 455.747C824.446 409.018 770.739 375.214 720.81 343.84C696.733 328.713 673.627 314.171 652.917 299C706.257 250.532 782.213 223.207 874.287 223.207L874.296 223.207ZM874.296 1123.8C781.854 1123.8 704.088 1096.45 649.402 1044.7C595.695 993.883 567.306 921.954 567.306 836.682L567.306 761.238C578.361 776.234 590.614 790.242 604.143 803.043C667.094 862.617 756.002 897.593 862.358 900.024C868.943 900.172 874.453 905.069 875.144 911.61C877.733 936.207 887.589 996.278 924.312 1050.61C941.698 1076.34 965.163 1101.82 996.726 1123.8L874.305 1123.8L874.296 1123.8ZM1179.89 1105.05C1179.89 1113.08 1172.71 1119.26 1164.76 1118.07C1079.38 1105.12 1017.01 1070.22 978.85 1013.76C951.957 973.955 943.666 929.587 941.156 908.366C940.334 901.432 945.118 895.066 952.01 893.938C1029.05 881.338 1094.26 849.798 1143.49 803.035C1156.85 790.347 1168.96 776.479 1179.89 761.631L1179.89 1105.05ZM1179.89 547.419C1179.84 632.665 1151.58 704.55 1098.13 755.318C1043.73 807.004 966.317 834.33 874.287 834.33C782.257 834.33 704.079 806.978 649.393 755.231C595.686 704.41 567.298 632.473 567.298 547.201L567.298 508.29C567.298 453.919 579.227 405.626 601.309 364.913C605.848 356.545 616.571 353.861 624.337 359.361C644.513 373.631 665.45 386.8 685.766 399.566C768.867 451.786 840.634 496.887 840.634 585.657L840.678 585.657L840.678 661.241L906.515 661.241L906.515 585.657L906.558 585.657C906.558 496.887 978.29 451.794 1061.33 399.583C1081.7 386.773 1102.7 373.561 1122.93 359.238C1130.7 353.73 1141.44 356.423 1145.97 364.808C1167.99 405.547 1179.89 453.875 1179.89 508.298L1179.89 547.428L1179.89 547.419Z" fill="#4175E1"/>
                        <path d="M398.969 -279L5.18732e-06 -279L2.59846e-06 -61.9026C1.04234e-06 68.5915 82.5894 156 206.267 156L398.969 156C521.411 156 604 68.5915 604 -61.9026C604 -192.397 521.411 -279 398.969 -279Z" fill="#84AFF5"/>
                        <path d="M454 334.232V354.693C454 398.603 441.372 436.556 418.727 466.097C413.676 472.718 408.096 478.913 402.055 484.664C369.052 516.047 322.039 534 265.35 534C208.661 534 161.324 516.047 128.15 484.664C122.006 478.861 116.341 472.581 111.222 465.875C88.5938 436.368 76 398.5 76 354.693V334.232C76 227.794 151.955 156 265.35 156C378.745 156 454 227.794 454 334.232Z" fill="#84AFF5"/>
                    </svg>
                </div>
            </div>
		</div>
	</div>
</section>
